
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    direction: rtl;
    font-family: 'Tahoma', sans-serif;
}

section{
    min-height: 100vh;
    width: 100%;
}

.main{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20240507/pngtree-the-mosque-image_15728152.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px;
}

/* الصندوق الرئيسي */
.contenir{
    width: 100%;
    max-width: 420px;
    background-color: rgba(245, 245, 240, 0.95);
   
    border-radius: 16px;
    padding: 20px;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  color: #0e0606;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #050404;
  margin-bottom: 25px;
  position: relative;
  letter-spacing: 1px;
  text-shadow: 0 2px 6px rgba(198, 184, 184, 0.5);
  font-family: 'Amiri', 'Scheherazade', serif;
}

/* الخط الذهبي تحت العنوان */
.title::after {
  content: "";
  display: block;
  width: 160px;
  height: 3px;
  background-color: #c9a24d;
  margin: 10px auto 0;
  border-radius: 2px;
}
/* الجزء العلوي */
.top-sec{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.cites h4,
.date h4{
    font-size: 16px;
    margin-bottom: 6px;
    color: #2c4656;
}

.cites select{
    width: 180px;
    height: 32px;
    background-color: #2c4656;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0 8px;
}

/* الجزء السفلي */
.bottom-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* كل صف صلاة */
.sec-rep{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 12px;
    background-color: #e6def0;
    border-radius: 10px;
    font-size: 15px;
    color: #333;
}
@media (max-width: 768px){
    .main{
        justify-content: center;
    }

    .contenir{
        max-width: 100%;
         margin-right: 0%;
    }
}

@media (max-width: 480px){
    .top-sec{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .sec-rep{
        font-size: 14px;
        padding: 12px;
    }
}